In [1]:
import pandas as pd

In [2]:
import math

In [3]:
train = pd.read_csv('data/17_06_train_cleaned.csv')

In [74]:
bin_label= [str(i)+ '-'+ str(i+300) for i in range(0,int(train['distance'].max())-1, 300)]

In [50]:
bin_size = [i for i in range(0,int(train['distance'].max()), 300)]

In [51]:
bin_size

[0,
 300,
 600,
 900,
 1200,
 1500,
 1800,
 2100,
 2400,
 2700,
 3000,
 3300,
 3600,
 3900,
 4200,
 4500]

In [57]:
bin_label

['0-1',
 '300-301',
 '600-601',
 '900-901',
 '1200-1201',
 '1500-1501',
 '1800-1801',
 '2100-2101',
 '2400-2401',
 '2700-2701',
 '3000-3001',
 '3300-3301',
 '3600-3601',
 '3900-3901',
 '4200-4201',
 '4500-4501']

In [76]:
bin_label=bin_label[0:-1]

In [77]:
train['dis_bin']=pd.cut(train['distance'],bins=bin_size, labels=bin_label)

In [62]:
train

,key,fare_amount,passenger_count,distance,dis_bin
0,2009-06-15 17:26:21.0000001,4.5,1,1.065430,0-1
1,2010-01-05 16:52:16.0000002,16.9,1,0.564261,0-1
2,2011-08-18 00:35:00.00000049,5.7,2,0.620920,0-1
3,2012-04-21 04:30:42.0000001,7.7,1,1.640032,0-1
4,2010-03-09 07:51:00.000000135,5.3,1,0.638351,0-1
...,...,...,...,...,...
52503782,2014-03-15 03:28:00.00000070,14.0,1,2.092225,0-1
52503783,2009-03-24 20:46:20.0000002,4.2,1,0.470594,0-1
52503784,2011-04-02 22:04:24.0000004,14.1,1,1.482074,0-1
52503785,2011-10-26 05:57:51.0000002,28.9,1,3.942886,0-1
52503786,2014-12-12 11:33:00.00000015,7.5,1,0.999520,0-1

In [70]:
pass_group = train.groupby(['passenger_count','dis_bin']).mean().reset_index()

In [71]:
pass_group

    passenger_count    dis_bin  fare_amount     distance
0                 1        0-1    11.204586     1.576906
1                 1    300-301    11.064653   414.358951
2                 1    600-601    11.491637   736.593868
3                 1    900-901     8.621154  1065.936447
4                 1  1200-1201    10.571429  1348.869923
..              ...        ...          ...          ...
70                5  3000-3001    17.357143  3110.795143
71                5  3300-3301     5.000000  3446.880565
72                5  3600-3601          NaN          NaN
73                5  3900-3901          NaN          NaN
74                5  4200-4201          NaN          NaN

[75 rows x 4 columns]

In [78]:
train['dis_bin'].value_counts()

0-300        52501537
600-900           975
300-600           618
3000-3300         105
2100-2400          87
1800-2100          80
2400-2700          69
1500-1800          69
1200-1500          63
900-1200           62
2700-3000          54
3300-3600          33
3900-4200          15
3600-3900          14
4200-4500           5
Name: dis_bin, dtype: int64

In [80]:
filt = train['distance']<=300

In [81]:
train = train[filt]

In [83]:
train['distance'].value_counts()

84.816580    149
41.453693     35
84.469594     25
84.463452     21
84.470558     21
            ...
1.221425       1
1.036559       1
1.311197       1
3.816515       1
6.140868       1
Name: distance, Length: 52475069, dtype: int64